

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
   
}
  
li {
    float:left;
    width: 50%;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

  
}
  
li a:hover {
    background-color: grey;
    color: white;
}

/*columns*/

* {
    box-sizing: border-box;
}
  
  /* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    padding-bottom: 100px;
    
    /*height: 300px; /* Should be removed. Only for demonstration */
}
  
.left {
    width: 35%;
    text-align: left;
    /*padding-right: 200px;  */
}
  
.right {
    width: 65%;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 650;
    padding-left: 250px;
    padding-top: 100px; 
    padding-bottom: 75px;
}

h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 650;
    padding-left: 240px; 
}

h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
    font-weight: 650;
    padding-left: 0; 
}

h4 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 50;
    padding-left: 0px;
    padding-bottom: 50px;
    text-decoration: underline; 
}

a.contact:link, a.contact:visited, a.contact:hover, a.contact:active {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 50;
    padding-left: 0px;
    padding-bottom: 50px;
    text-decoration: underline; 
}
  
 

span {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 45px;

    display: block;
    word-wrap:break-word;
    width: 700px;
    white-space: normal;
    
}

.button {
    border: none;
    color: white;
    /*padding: 45px 350px; */
    width: 700px;
    height: 90px;
    line-height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
}
.button1:hover {
    background-color: grey;
    color: white;
}

img {
    width: 25x;
    height: 25px;
    padding-left: 10px;
}
