

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
   
}
  
li {
    float:left;
    width: 25%;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid black;
  
}
  
li a:hover {
    background-color: grey;
    color: white;
}